body {
    font-family: 'poppins', sans-serif;
    background-color: #f7f2e0;
}
.image_container{
    display:flex;
    justify-content: center;
    

}
.below_curve{
    margin-top: 245px;
    
    background-color: white;
}
.image_container img{
    width:40%;
}
.button_text_container{
    display:flex;
    align-items: center;
    flex-direction: column;
}


.custom-shape-divider-bottom-1730279206 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: white;
}


h1 {
    margin-bottom: 20px;
}

h2{
    text-align: center;
}

p {
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 18px;
    text-align: center;
}
.other_images{
    display: block;
    margin:0 auto;
}


 .logo{
    height:10%;
    width:10%;
    
    
 }
 .nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
 }
 
.buttons{
    display: flex;
    justify-content: end;
    
    gap:20px;
}
.btn-create{
    background-color: #365996;
    border-radius: 20px;
    display: flex;
    
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.btn-create:hover {
    background-color: #218838;
}